<h3>Listado</h3>

<ul class="list-group">

    <li class="list-group-item d-flex justify-content-between" *ngFor="let character of charactersList;
        let i = index;
        let isFirst = first
        let isLast = last
        let isEven = even
        let isOdd = odd" [ngClass]="{'list-group-item-primary': isEven}">

        <div class="">

            <span>{{character.name}} -</span>
            <strong>Power:</strong>
            <span>{{character.power}}</span>
        </div>

        <button class="btn btn-danger" (click)="clickOnDelete(character.id)">x</button>
    </li>


</ul>
